* {
    margin :0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.content-wrapper {
  padding: 5% 20%;
  position: relative;
  background-color: rgb(247, 240, 231);
  background-image: url("../assets/images/background.jpg");
  min-height: 100vh;
}
.dark-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
}


.main-container {
  
  /* position: relative; */
  /* padding: 5% 20%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgb(247, 240, 231);
  background-image: url("../assets/images/background.jpg"); */
  
}





.card {
  width: 100%;
  transition: all .3s ease-in-out;
}

.card:hover {
  transform: scale(1.1); 
}

.image-container {
  width: 18%;
  padding: 5%;
  /* border: 1px solid red; */
}

.resize-me {
  max-width: 100%;
  max-height: 100%;
}

.link-detailed-view:hover {
  cursor: pointer;
}

.btn {
  margin: 5% auto;
}


/* DETAILED VIEW */
.actions .btn {
  margin: 0;
}


.detailed-view {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(245, 238, 229);
  position: relative;
  padding: 5%;;
}

.detailed-view .actions {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.detailed-view img {
  /* height: 20%;
  margin: 0 auto;
  display: inline-block; */
}





/*  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


.detailed-view .basics {
  /* border: 1px solid green; */
  padding: 1%;
}

.detailed-view .food-pairings {
  /* border: 1px solid green; */
  padding: 1%;

}

.detailed-view .food-pairings span{
  /* border: 1px solid green; */
  display: inline-block;
  /* width: 100%; */
  /* border: 1px solid rgb(9, 170, 130); */
  color: rgb(9, 170, 130);;
  padding: 0.5%;
  margin: 1.5%;
  /* border-radius: 5px; */

}

.detailed-view .food-pairings ul {
  display: inline;  
}

.detailed-view .food-pairings ul li{
  display: inline-block;  
  background-color: rgb(9, 170, 130);
  color: white;
  padding: 0.5%;
  margin: 1%;
  border-radius: 5px;
}

.detailed-view hr {
  
}


.detailed-view .ingredients {
  border: 1px solid green;
  

  display: flex;
  justify-content: space-between;
}

.detailed-view .image {
  border: 1px solid green;
  height: 40vh;
  overflow: hidden;
  padding: 1%;
}

.detailed-view .image img {
  height: 100%;
  display: block;
  margin: 0 auto;
}