<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Brewery Data</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="css/styles.css">
  </head>
    
  <body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div id="root" >

        <div class="content-wrapper">
            <div class="dark-cover"></div>

            <div class="progress loader" v-if='loader'>
                <div class="indeterminate"></div>
            </div>


            <section class="main-container" v-if='!displayDetailedView'>
                <div class="card-container" v-for='beer in beers' :id=`${beer.id}`>
                    <div class="col s12 m7">
                        <div class="card horizontal">
                            <div class="card-image image-container">
                                <span v-if='beer.image_url'>
                                    <img :src="beer.image_url" class="resize-me" alt='photo of beer'>
                                </span>
                                <span v-else>
                                    <img src="assets/images/no-image.png" class="resize-me" alt="default photo">
                                </span>
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <h4>{{ beer.name + ' ' + beer.abv }}</h4>
                                <p>{{ beer.description }}</p>
                            </div>
                            <div class="card-action">
                                <a v-on:click='detailedView(beer.id)' class="link-detailed-view">More Info</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <a v-on:click='loadData' class="waves-effect waves-light btn-large btn">Load More</a>
            </section>


            <section class="detailed-view" v-else>

                <div class="actions">
                    <a v-on:click='displayDetailedView = false' class="link-detailed-view btn" :href=`#${current.id}`>Back</a>
                    <div>
                        <a v-on:click='updateCurrentPrevious(current.id)' class="link-detailed-view btn">Previous</a>
                        <a v-on:click='updateCurrentNext(current.id)' class="link-detailed-view btn">Next</a>
                    </div>
                </div>
                
                <div class="basics">
                    <h4>{{ current.name + ' ' + current.abv + ' -' + current.tagline }}</h4>
                    <p>{{ current.description }}</p>
                </div>
                
                <div class="food-pairings">
                    <span>Pair it with:</span>
                    <ul v-for='dish in current.food_pairing'>
                        <li> {{ dish }} </li>
                    </ul>
                </div>
                
                <hr>    
                <div class="ingredients-container">
                    <h5>Ingredients</h5>
                    <p>Yeast: {{ current.ingredients.yeast }}</p>
                    <div class="ingredients">
                        <div>
                            <span>Hops:</span>
                            <ul v-for='hop in current.ingredients.hops'>
                                <li>{{ hop.name }}</li>
                            </ul>
                        </div>
                        <div>
                            <span>Malt:</span>
                            <ul v-for='malt in current.ingredients.malt'>
                                <li>{{ malt.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span v-if='current.image_url'>
                    <div class="image">
                        <img :src="current.image_url" class="" >
                    

                   
                    </div>
                </span>
                    
                       

            </section>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/vue.js"></script>
  </body>
</html>